<html>
<head>
    <title>Twitch Browser</title>
    <style>
        .stream_item { margin-bottom: 20px }
        .stream_item p { margin: 2px }
    </style>
</head>
<body>
    <h1>Live Twitch.tv Streams</h1>
    {% for stream in streams %}
    <div class="stream_item">
        <p><a href="{{ stream.getUrl() }}"><img src="{{ stream.getPreviewUrl() }}" /></a></p>
        <p>{{ stream.getStatus() }}</p>
        <p><strong>{{ stream.getUserDisplayName() }}</strong> playing <strong>{{ stream.getGameName() }}</strong></p>
        <p>{{ stream.getViewerCount() }} viewers</p>
    </div>
    {% endfor %}
</body>
</html>